@font-face {
  font-family: "IBM 3270";
  src: url('../resources/3270-Regular.ttf') format("truetype");
}

html {
  background-color: #282828;
  /*
  position: relative;
  min-height: 100%;
  */
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM 3270", Fallback, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  position: absolute;
  left: 1%;
  bottom: 1%;
  height: 5%;
  overflow: hidden;
}

li {
  display: inline-block;
  list-style: none;
  color: #D5C4A1;
  font-size: 1.5em;
}

a {
  color: #D5C4A1;
}

p {
  color: #A89984;
}

hr {
  border: 0.1em dashed #D5C4A1;
  border-style: none none dashed;
}

main {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#divider {
  margin: 1em;
}
