:root {
  color-scheme: dark light;
  
  --background: light-dark(#CAE9FF, #282828);
  --foreground: light-dark(#282828, #CAE9FF);
}

* {
  color: var(--foreground);
}

@font-face {
  font-family: "IBM 3270";
  src: url('../resources/3270-Regular.ttf') format("truetype");
}

html {
  background-color: var(--background);
  /*
  position: relative;
  min-height: 100%;
  */
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM 3270", Fallback, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  font-size: 1.5em;
}

ul {
  padding: 0em;
}

ul li:before {
  content: '<';
}

ul li:after {
  content: '>';
}

hr {
  border: 0.1em dashed var(--foreground);
  border-style: none none dashed;
}

main {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.images {
  display: flex;
  justify-content: center;
}
